<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Motos 🏍️🏁</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <!--<img src="../imagen/12.jpg" width="300" height="200"/> -->
  <ion-list >
    <ion-item color="dark">
      <ion-thumbnail item-start>
        <img src="../imagen/honda.jpeg">
      </ion-thumbnail>
      <h4> Honda CB125F</h4>
      <p>Id: 1</p>
      <p>Cilindraje: 125c</p>
      <p>Descripcion: Una moto de estilo deportivo con un cilindraje de 124.7 cc y una potencia de 10.6 hp</p>   
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
        <ion-thumbnail item-start>
          <img src="../imagen/honda.jpeg">
        </ion-thumbnail>
        <h4> Suzuki Gixxer SF250</h4>
        <p>Id: 2</p>
        <p>Cilindraje: 250c</p>
        <p>Descripcion: Una moto deportiva con un cilindraje de 249 cc y una potencia de 26 hp</p>
   </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
        <ion-thumbnail item-start>
          <img src="../imagen/honda.jpeg">
        </ion-thumbnail>
        <h4> Suzuki Gixxer SF</h4>
        <p>Id: 3</p>
        <p>Cilindraje: 150c</p>
        <p>Descripcion: Una moto deportiva con un cilindraje de 155 cc y una potencia de 13.6 hp</p>
   </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
        <ion-thumbnail item-start>
          <img src="../imagen/honda.jpeg">
        </ion-thumbnail>
        <h4> Bajaj Pulsar NS200</h4>
        <p>Id: 4</p>
        <p>Cilindraje: 200c</p>
        <p>Descripcion: Una moto naked con un cilindraje de 199.5 cc y una potencia de 23.5 hp</p>
   </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
        <ion-thumbnail item-start>
          <img src="../imagen/honda.jpeg">
        </ion-thumbnail>
        <h4> Kawasaki Ninja 300</h4>
        <p>Id: 5</p>
        <p>Cilindraje: 300c</p>
        <p>Descripcion: Una moto deportiva con un cilindraje de 296 cc y una potencia de 39 hp</p>
   </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
        <ion-thumbnail item-start>
          <img src="../imagen/honda.jpeg">
        </ion-thumbnail>
        <h4> Yamaha YZF-R3</h4>
        <p>Id: 6</p>
        <p>Cilindraje: 300c</p>
        <p>Descripcion: Una moto deportiva con un cilindraje de 321 cc y una potencia de 41 hp</p>
   </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
        <ion-thumbnail item-start>
          <img src="../imagen/honda.jpeg">
        </ion-thumbnail>
        <h4> Honda CBR250RR</h4>
        <p>Id: 7</p>
        <p>Cilindraje: 250c</p>
        <p>Descripcion: Una moto deportiva con un cilindraje de 249 cc y una potencia de 38 hp</p>
   </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
        <ion-thumbnail item-start>
          <img src="../imagen/honda.jpeg">
        </ion-thumbnail>
        <h4> KTM RC200</h4>
        <p>Id: 8</p>
        <p>Cilindraje: 200c</p>
        <p>Descripcion: Una moto deportiva con un cilindraje de 199.5 cc y una potencia de 25 hp</p>
   </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
        <ion-thumbnail item-start>
          <img src="../imagen/honda.jpeg">
        </ion-thumbnail>
        <h4> KTM Duke 200</h4>
        <p>Id: 9</p>
        <p>Cilindraje: 200c</p>
        <p>Descripcion: Una moto naked con un cilindraje de 199.5 cc y una potencia de 25 hp</p>
   </ion-item>
  </ion-list>
  <ion-list >
    <ion-item color="primary">
        <ion-thumbnail item-start>
          <img src="../imagen/honda.jpeg">
        </ion-thumbnail>
        <h4> Yamaha MT-03          </h4>
        <p>Id: 10</p>
        <p>Cilindraje: 300c</p>
        <p>Descripcion: Una moto naked con un cilindraje de 321 cc y una potencia de 41 hp</p>
   </ion-item >
  </ion-list>
  
  
  
  

  
</ion-content>
