<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Diccionario 📖 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Diccionario </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item color="dark">
      <h4>1. Aplicación Móvil: </h4>
      <p>Una aplicación móvil es un programa de software diseñado específicamente para ser ejecutado en dispositivos móviles, como teléfonos inteligentes y tabletas. Estas aplicaciones están diseñadas para realizar una amplia variedad de tareas y funciones.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>2. Arquitectura de Aplicaciones: </h4>
      <p>Es una estructura organizativa y conceptual que define la forma en que un sistema de software se compone, se organiza y se comunica. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>3. Aplicaciones Nativas: </h4>
      <p>Las aplicaciones nativas son desarrolladas específicamente para una plataforma móvil particular, como iOS (para dispositivos Apple) o Android (para dispositivos no-Apple).</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>4. Aplicaciones Hibridas: </h4>
      <p>Las aplicaciones híbridas se desarrollan utilizando tecnologías web estándar, como HTML, CSS y JavaScript, y luego se envuelven en un contenedor nativo.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>5. Accesibilidad: </h4>
      <p>Diseñar para que la aplicación sea usable por personas con discapacidades.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>6. A/B testing: </h4>
      <p> Probar diferentes diseños para determinar cuál funciona mejor.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>7. Animación de carga: </h4>
      <p> Una animación que se muestra mientras se carga la aplicación.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>8. Antivirus:  </h4>
      <p> Aplicaciones que protegen contra malware y amenazas en línea.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>9. Backend:  </h4>
      <p> El backend, también conocido como lado del servidor, se refiere a la parte no visible de una aplicación. Es responsable de la lógica de la aplicación, la gestión de datos, la seguridad y la comunicación con la base de datos.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>10. Barra de herramientas:  </h4>
      <p> Una barra que contiene acciones comunes en la parte inferior de la pantalla.</p>
    </ion-item>
  </ion-list>
    <ion-list>
      <ion-item color="dark">
        <h4>11. Barra de navegación:  </h4>
        <p> Una barra en la parte superior de la pantalla que facilita la navegación.</p>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item color="primary">
        <h4>12. Barra de progreso:  </h4>
        <p> Una barra que muestra el progreso de una tarea.</p>
      </ion-item>
    </ion-list>
    <ion-list>
        <ion-item color="dark">
          <h4>13. Barra de búsqueda: </h4>
          <p> Un campo de búsqueda que permite a los usuarios encontrar contenido.</p>
        </ion-item>
    </ion-list>
    <ion-list>
      <ion-item color="primary">
        <h4>14. Compatibilidad con múltiples dispositivos:  </h4>
        <p> Asegurarse de que la aplicación funcione en diferentes tipos de dispositivos móviles.</p>
      </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>15. Conversión:  </h4>
      <p> Lograr que los usuarios realicen una acción deseada en la aplicación.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>16. Diseño adaptable:  </h4>
      <p> Lograr que los usuarios realicen una acción deseada en la aplicación.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>17. Diseño adaptativo:   </h4>
      <p> Diseño que se ajusta a diferentes resoluciones y tamaños de pantalla.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>18. Diseño centrado en la tarea:    </h4>
      <p> Diseñar la aplicación en torno a las tareas clave de los usuarios</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>19. Diseño centrado en el usuario:    </h4>
      <p> Diseñar pensando en las necesidades y preferencias del usuario.</p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item color="primary">
      <h4>20. Diseño de acceso:    </h4>
      <p> Diseñar para que sea fácil para todos los usuarios acceder y utilizar la aplicación.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>21. Diseño de accesibilidad web:     </h4>
      <p> Garantizar que la aplicación sea accesible para personas con discapacidades.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>22. Diseño de acciones:    </h4>
      <p> Mostrar claramente cómo los usuarios pueden realizar acciones.</p>
    </ion-item>
  </ion-list>
   <ion-list>
    <ion-item color="dark">
      <h4>23. Diseño de avatares:    </h4>
      <p> Representaciones visuales de los usuarios en la aplicación. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>24. Diseño de barra de búsqueda avanzada:    </h4>
      <p> Ofrecer opciones avanzadas en la barra de búsqueda.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>25. Diseño de carga progresiva:   </h4>
      <p> Mostrar contenido gradualmente a medida que se carga.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>26. Diseño de chatbots:     </h4>
      <p> Diseñar la interfaz de chatbots para proporcionar información y respuestas.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>27. Diseño de cuadrícula adaptable:     </h4>
      <p> Una cuadrícula que se adapta a diferentes tamaños de pantalla.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>28. Diseño de cuadrícula asimétrica:     </h4>
      <p> Una cuadrícula que no sigue un patrón uniforme.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>29. Diseño de cuadrícula flexible:      </h4>
      <p> Ajustar elementos en función del espacio disponible.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>30. Diseño de cuadrícula modular:     </h4>
      <p> Componentes de diseño que se pueden reutilizar en toda la aplicación.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>31. Diseño de cuadrícula de tarjetas:      </h4>
      <p> Presentar contenido en tarjetas individuales.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>32. Diseño de cuadrícula de tarjetas deslizantes:      </h4>
      <p> Tarjetas que se pueden deslizar horizontalmente.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>33. Diseño de cuadrícula de tarjetas flotantes:      </h4>
      <p> Tarjetas que se superponen al contenido principal.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>34. Diseño de cuadrícula de tarjetas de información:     </h4>
      <p> Organización efectiva de datos en la aplicación.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>35. Diseño de carga en tiempo real:     </h4>
      <p> Actualizar la interfaz en tiempo real con datos cambiantes.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>36. Diseño de carga asincrónica:   </h4>
      <p> Cargar datos de manera asincrónica para mejorar el rendimiento.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>37. Diseño de carga de contenido:   </h4>
      <p> Cargar automáticamente más contenido al llegar al final de la pantalla.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>38. Diseño de carga de imágenes:   </h4>
      <p> Cargar imágenes de manera eficiente para acelerar la carga.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>39. Diseño de carga de pantallas:   </h4>
      <p> Presentar una pantalla de carga mientras se inicia la aplicación.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>40. Diseño de carga progresiva:    </h4>
      <p> Mostrar contenido gradualmente a medida que se carga.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>41. Diseño de carga rápida:     </h4>
      <p> Optimizar el rendimiento para minimizar el tiempo de carga.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>42. Diseño de carga suave:     </h4>
      <p> Lograr una transición suave entre las pantallas de la aplicación.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>43. Diseño de carga transparente:     </h4>
      <p> Hacer que la carga de datos sea invisible para el usuario.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>44. Diseño de carga sincrónica:     </h4>
      <p> Cargar datos de manera sincrónica para simplificar el proceso.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>45. Diseño de carga visual: </h4>
      <p> Utilizar elementos visuales para indicar el progreso de carga.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>46. Efecto de paralaje:  </h4>
      <p> Efecto visual donde los elementos se mueven a diferentes velocidades al desplazarse.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>47. Escalabilidad: </h4>
      <p> Diseñar para que la aplicación sea fácil de mantener y actualizar.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>48. Escalas de grises:  </h4>
      <p> Representar el diseño en tonos de gris para enfocarse en la estructura.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>49. Estadísticas de uso:  </h4>
      <p> Analizar datos de uso para tomar decisiones de diseño informadas.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>50. Estándares de diseño:  </h4>
      <p> Pautas y principios que rigen el diseño de la aplicación.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>51. Experiencia de usuario (UX): </h4>
      <p> La percepción general de un usuario al interactuar con una aplicación móvil. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>52. Experiencia omnicanal: </h4>
      <p> Mantener una experiencia coherente en diferentes dispositivos. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>53. Frontend: </h4>
      <p> El frontend se refiere a la parte de una aplicación o sitio web con la que interactúa el usuario directamente. Incluye la interfaz de usuario (UI), que consiste en elementos visuales como botones, formularios, menús y otros elementos con los que el usuario interactúa. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>54. Favicon:  </h4>
      <p> El icono de la aplicación que se muestra en la pestaña del navegador. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>54. Feedback háptico:  </h4>
      <p> Vibraciones del dispositivo en respuesta a acciones del usuario. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>55. Feedback del usuario:   </h4>
      <p> Respuesta visual o auditiva a las acciones del usuario. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>56. Filtros de privacidad:   </h4>
      <p> Herramientas para proteger la privacidad en línea. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>57. Git:   </h4>
      <p> Es un sistema de control de versiones distribuido ampliamente utilizado para el seguimiento de cambios en el código fuente y la colaboración en proyectos de desarrollo de software. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>58. Gradiente:   </h4>
      <p> Una transición de color suave entre dos o más colores. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>59. Gestos multitáctiles:   </h4>
      <p> Utilizar varios dedos para interactuar con la aplicación. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>60. Gestos personalizados:   </h4>
      <p> Crear gestos únicos para acciones específicas en la aplicación. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>61. Herramientas de diseño gráfico:   </h4>
      <p> Aplicaciones para crear elementos visuales de la aplicación. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>62. Icono de aplicación:   </h4>
      <p> La imagen que representa la aplicación en la pantalla de inicio. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>63. Icono de acción:   </h4>
      <p> Un icono que representa una acción específica en la aplicación. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>64. Interfaz de chatbot:   </h4>
      <p> Interacción con un chatbot para proporcionar información y respuestas. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>65. Interfaz de usuario (UI):   </h4>
      <p> El aspecto y la interacción visual de una aplicación móvil. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>66. Interacción táctil:   </h4>
      <p> La forma en que los usuarios interactúan tocando la pantalla. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>67. Interfaz de voz:   </h4>
      <p> La interacción con la aplicación a través de comandos de voz. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>68. Mapas de calor:   </h4>
      <p> Representación gráfica de dónde los usuarios hacen clic o interactúan más. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>69. Material Design:   </h4>
      <p> Un lenguaje de diseño desarrollado por Google para aplicaciones móviles. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>70. Menú desplegable:   </h4>
      <p> Un menú que se muestra al tocar un icono o botón. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>71. Móvil primero:   </h4>
      <p> Un enfoque de diseño que comienza por dispositivos móviles antes que en otros formatos. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>72. Modo oscuro:    </h4>
      <p> Un tema de diseño con fondo oscuro en lugar de claro. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>73. Monitoreo de usuario:    </h4>
      <p> Seguimiento y análisis de las acciones y preferencias de los usuarios. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>74.  .Net:    </h4>
      <p> Es un marco de desarrollo de software desarrollado por Microsoft. Proporciona una plataforma unificada para desarrollar aplicaciones de diferentes tipos, incluyendo aplicaciones de escritorio, aplicaciones web y aplicaciones móviles. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>75.  Navegación por gestos:   </h4>
      <p> Navegar a través de la aplicación usando gestos en lugar de botones. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>76.  Navegación:    </h4>
      <p> Cómo los usuarios se desplazan por la aplicación. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>77.  Notificaciones push:    </h4>
      <p> Mensajes enviados por la aplicación a los usuarios. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>78.  Notificación:    </h4>
      <p> Mensaje o alerta que informa sobre eventos o novedades en una aplicación. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>79.  Paleta de colores:   </h4>
      <p> La selección de colores utilizados en la aplicación. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>80.  Pantalla de inicio: </h4>
      <p> La primera pantalla que los usuarios ven al abrir la aplicación. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>81. Pixel: </h4>
      <p> La unidad básica de pantalla en la que se basa el diseño. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>82. Principio de consistencia:  </h4>
      <p> Mantener un diseño uniforme en toda la aplicación. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>83. Principio de jerarquía:   </h4>
      <p> Organizar elementos en función de su importancia. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>84. Prueba de usabilidad:  </h4>
      <p> Evaluar cómo los usuarios interactúan con la aplicación en pruebas reales. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>85. Prototipo:  </h4>
      <p> Una versión preliminar de la aplicación que permite evaluar su funcionalidad y diseño. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>86. Realidad aumentada (AR): </h4>
      <p> Combinar elementos virtuales con el entorno real. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>87. Realidad virtual (VR):  </h4>
      <p> Experiencias inmersivas generadas por aplicaciones y dispositivos especiales. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>88. Realidad virtual social:  </h4>
      <p> Entornos virtuales donde las personas pueden interactuar. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>89. Retícula de diseño:  </h4>
      <p> Un sistema de cuadrícula que ayuda a alinear elementos en la pantalla. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>90. SQL Server:  </h4>
      <p> Microsoft SQL Server es un sistema de gestión de bases de datos relacional (RDBMS) desarrollado por Microsoft. Ofrece un entorno seguro y escalable para el almacenamiento, la administración y la recuperación de datos estructurados.  </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>91. Subtitulado en tiempo real:  </h4>
      <p> Aplicaciones que proporcionan subtítulos durante la reproducción de video. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>92. Tipografía legible:  </h4>
      <p> Elegir fuentes que sean fáciles de leer en pantallas móviles. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>93. Tipografía: </h4>
      <p> La elección y estilo de fuentes de texto en la aplicación. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>94. UI/UX Designer: </h4>
      <p> Un diseñador de interfaz de usuario (UI) y experiencia de usuario (UX). </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>95. Usabilidad:  </h4>
      <p> La facilidad con la que los usuarios pueden interactuar con la aplicación. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>96. Visual Studio: </h4>
      <p> Visual Studio es un entorno de desarrollo integrado (IDE) desarrollado por Microsoft. Proporciona herramientas y servicios de desarrollo de software para crear aplicaciones de escritorio, aplicaciones web, aplicaciones móviles, y más. </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>97. Ionic  </h4>
      <p> Ionic es un framework de código abierto ampliamente utilizado para el desarrollo de aplicaciones móviles y web.  </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>98. Angular  </h4>
      <p> Angular es un popular framework de desarrollo de aplicaciones web y móviles de código abierto. Fue creado y es mantenido por Google y una comunidad activa de desarrolladores.   </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      <h4>99. Api Rest </h4>
      <p> Un API REST (Representational State Transfer) es un estilo de arquitectura de software que define una serie de restricciones y convenciones para crear servicios web y aplicaciones web.   </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="dark">
      <h4>100. JSON  </h4>
      <p> JSON (JavaScript Object Notation) es un formato de intercambio de datos ligero y fácil de leer que se utiliza para representar datos estructurados. Fue derivado originalmente de JavaScript, pero es un formato independiente del lenguaje y se utiliza ampliamente en el intercambio de datos en aplicaciones web y servicios web.  </p>
    </ion-item>
  </ion-list>

</ion-content>
