<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title >Inicio 🏠</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <h1 style="text-align:center">¿Motos? 🤔🏍️</h1>
  <h2>¿Que son las motos 🏍️?</h2>
  <p>Las motos, también conocidas como motocicletas, son vehículos de dos ruedas diseñados para el transporte personal. Son una forma popular de transporte en muchas partes del mundo debido a su eficiencia en el consumo de combustible y su agilidad en el tráfico.</p>
  <h2>Caracterisicas 🏍️</h2>
  <p>Motorización: Las motos están equipadas con motores de combustión interna que pueden ser de diferentes tamaños y potencias. Los motores pueden ser de dos tiempos o cuatro tiempos, y la potencia varía desde modelos pequeños hasta motocicletas deportivas de alto rendimiento.</p>
  <p>Dos ruedas: Las motos tienen dos ruedas, una delantera y una trasera, lo que las diferencia de los vehículos de tres o cuatro ruedas, como los automóviles.</p>
  <p>Variedad de tipos: Existen varios tipos de motos, como motocicletas de turismo, deportivas, crucero, enduro, scooters y más. Cada tipo está diseñado para un propósito o estilo de conducción específico.</p>
  <p>Las motos son apreciadas por su versatilidad y su capacidad para brindar una experiencia de conducción emocionante. Sin embargo, es importante tener en cuenta que conducir una moto conlleva riesgos, por lo que es esencial seguir prácticas seguras y utilizar equipo de protección adecuado.</p>
  <h1 style="text-align:center"> 🏁🏍️🥸</h1>
</ion-content>
